@media screen and (max-width: 1200px) {
  .projects {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 850px) {
  .header__nav {
    display: flex;
    visibility: hidden;
    position: absolute;
    background: var(--card);
    border-right: 1px solid #8a96a87d;
    transform: translateX(-120%);
    flex-direction: column;
    top: 0;
    height: 100vh;
    width: 14rem;
    padding: 3rem;
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    -o-transform: translateX(-120%);
  }

  .header__nav a {
    text-align: center;
    font-weight: 600;
  }

  .header__nav ul {
    flex-direction: column;
  }

  label[for="side__bar__menu"] {
    display: flex;
  }
}

@media screen and (max-width: 800px) {
  .about {
    grid-template-columns: 1fr;
  }

  .about__text {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 50px;
  }

  .hero__subtitle {
    font-size: 28px;
  }

  .hero__text {
    font-size: 18px;
  }

  .skills {
    grid-template-columns: 1fr;
  }

  .contact {
    grid-template-columns: 1fr;
  }

  .contact__left__work__wrapper {
    padding-bottom: 0;
    border-bottom: 0;
  }

  .contact__right {
    text-align: center;
  }

  .contact__right h2 {
    font-size: 45px;
  }

  .contact__right__link__wrapper {
    justify-content: center;
  }

  .footer {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .contact {
    grid-gap: 4rem;
    padding: 2rem;
  }

  .header__logo {
    font-size: 20px;
  }

  .header__logo a {
    width: 45px;
    height: 45px;
  }

  label[for="side__bar__menu"] {
    width: 29px;
    height: 24px;
  }

  .hero__title {
    font-size: 42px;
  }

  .hero__actions {
    justify-content: center;
  }

  .hero__subtitle {
    font-size: 22px;
  }

  .contact__right h2 {
    font-size: 36px;
  }

  .contact__left {
    gap: 2rem;
  }

  .contact__left h3 {
    text-align: center;
  }

  .contact__left__work__wrapper p {
    font-size: 15px;
  }

  .contact__left__gmail__wrapper a {
    font-size: 15px;
  }
}

@media screen and (max-width: 360px) {
  .contact {
    padding: 2.5rem 1.2rem;
  }

  .hero__title {
    font-size: 34px;
  }

  .hero__subtitle {
    font-size: 20px;
  }

  .hero__text {
    font-size: 17px;
  }

  .contact__left h3 {
    font-size: 24px;
  }

  .contact__right h2 {
    font-size: 28px;
  }

  .contact__right .button {
    padding: 0.5rem 1.2rem;
  }
}
